.admin-container {
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 30px;
  margin: 40px 0;
}

.login-section {
  margin: 20px;
  width: 500px;
}

.upload-section {
  margin: 20px;
  width: 500px;
}

.error-message {
  width:100%;
}